body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grid {
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    gap: 5px;
}

.row {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 5px;
}

.cell {
    width: 50px;
    height: 50px;
    border: 2px solid #d3d6da;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
}

.keyboard {
    margin-top: 20px;
}

.keyboard-row {
    display: flex;
    justify-content: center;
    gap: 5px;
    margin-bottom: 5px;
}

/*Teclas alfabéticas*/
.key {
    width: 40px;
    height: 40px;
    border: none;
    background-color: #d3d6da;
    color: #3a3a3a;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}


.red-keys{
    background-color: red;
    color: white;
}


.green-keys{
    background-color: green;
    color: black;
}

/*Teclas "Enter y Delete"*/
.action-key {
    width: 60px;
    height: 40px;
    border: none;
    background-color: #3f7ad3;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}



/*Efecto  while hovering*/

.key:hover, .action-key:hover {
    background-color: #284679;
    color: white;
}


.reset-button {
    padding: 10px;
    border: none;
    background-color: #3f7ad3;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.reset-button:hover{
    background-color: #284679;
    color: white; 
}
